@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.temp {
  width: 350px;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #524852;
  background-color: #fff;
}

.welcome-img img {
  width: 120px;
  height: 115px;
  border-radius: 50%;
  border: 5px solid #e9eaec;
}

.welcome-desc {
  font-size: 14px;
  color: #656c87;
}

.welcome-action .welcome-action--a {
  text-decoration: none;
  color: #524852;
}

.welcome-action .welcome-action--button {
  cursor: pointer;
  border: none;
  outline: 0;
  color: #fff;
  /* background: linear-gradient(to right, #699dfa, #0484c4); */
  background-color: #699dfa;
  box-shadow: 0 4px 8px #95bdc1;
  padding: 12px 17px;
  border-radius: 5px;
  /* transition: all 0.2s ease; */
}

.welcome-action .welcome-action--button:hover {
  background-color: #5789e2;
}

.ripple {
  background-position: center;
  transition: background 0.9s;
}
.ripple:hover {
  background: #699dfa radial-gradient(circle, transparent 1%, #699dfa 1%)
    center/15000%;
}
.ripple:active {
  background-color: #5789e2;
  background-size: 100%;
  transition: background 0s;
}
